/* index.css — root reset & vite default overrides */

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root > main {
  flex: 1;
}

/* Remove Vite default styles */
:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
